# Read yahoo history

In [44]:
import json
import requests
from pandas import json_normalize
import pandas as pd
import datetime

## setting

In [ ]:
now = datetime.datetime.now()
res = int(now.timestamp() * 1000) #end unix date

stockLst = [
        "TSLA", "NVDA", "AAPL", "META", "GOOGL",
        "MSFT", "INTC", "AVGO", "SOUN", "AMD",
        "NFLX", "UBER", "TGT", "BBAI", "OSS"
        ,"DNUT", "COMP", "OPEN", "MARA", "IOVA"
        ,"WMT",  "HD", "AMZN", "NIO", "COST"
        ,"PYPL", "ADBE", "CRM", "ORCL", "IBM"
        ,"CAH", "ACGL", "BLL", "CEGVV", "CLX"
        ,"CL", "LMT", "CPRT", "CAH", "MDLZ"
        ,"FANG",  "EL", "EXC", "LOW", "MAR"
        ,"GILD", "HAL", "LMT", "MCD", "NKE"
        ,"LHX", "MET", "MO", "MS", "V"
        ,"LLY", "ORCL", "JNJ", "PG", "KO"
      ]

start_unix_date = "1657237004"
end_unix_date = res

headers = {
    "User-Agent": "Mozilla/5.0"
}

# tslaUrl = r'https://query1.finance.yahoo.com/v8/finance/chart/NVDA?period1=1657237004&period2=1751931404&interval=1d&events=history'
# tslaUrl = '/content/sample_data/TSLA.json'

In [46]:
def stockUrl(stock):
  return f'https://query1.finance.yahoo.com/v8/finance/chart/{stock}?period1={start_unix_date}&period2={end_unix_date}&interval=1d&events=history'

def dfTreatment(url, headers):
  response = requests.get(url, headers = headers)
  data = response.json()
  if (data['chart']['result'] is not None):
    df_metaData = json_normalize(data['chart']['result'])
    df_indicator = pd.DataFrame(df_metaData['indicators.quote'][0])
    return df_metaData, df_indicator
  else:
    return None, None

def dfExtract(df_metaData, df_indicator, dfStock, dfAll, i):
  if df_metaData is not None:
    for j in df_indicator.columns.to_list():
      dfStock[j] = df_indicator[j][0]
    dfStock['code'] = i
    dfStock['datetime'] = df_metaData['timestamp'][0]
    #print(dfStock.columns.to_list())
  return dfStock

def dfConact(dfAll, dfStock):
  if dfAll.size == 0:
    dfAll=pd.DataFrame(columns=dfStock.columns.to_list())

  dfAll = pd.concat([dfAll, dfStock], ignore_index = True)
  return dfAll

def dfFillNA(dfAll):
  if dfAll.isna().any().any() == "np.True_":
    dfAll = dfAll.fillna(method = "ffill")
    msg = 'NA value'
  else:
    msg = 'no NA'
  # dfAll.to_csv("OLHC.csv")
  return dfAll, msg

In [47]:
dfAll = pd.DataFrame()

for i in stockLst:

  url = stockUrl(i)

  df_3, df_4 = dfTreatment(url, headers)
  
  dfStock = pd.DataFrame()

  dfStock = dfExtract(df_3, df_4, dfStock, dfAll,i)

  dfAll = dfConact(dfAll, dfStock)

dfAll['datetime'] = pd.to_datetime(dfAll['datetime'], unit="s").dt.date
dfAll, msg = dfFillNA(dfAll)
dfAll = dfAll.sort_values(by=['code', 'datetime'])

print(f"Completed! {msg}" )

/var/folders/3x/v2v5lgj97jqg15bcfj_8xq5m0000gn/T/ipykernel_54885/4133449056.py:27: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dfAll = pd.concat([dfAll, dfStock], ignore_index = True)

Completed! no NA

In [48]:
dfAll

,close,low,open,volume,high,code,datetime
1586,146.350006,143.279999,143.289993,66253700,146.550003,AAPL,2022-07-07
1587,147.039993,145.000000,145.259995,64547800,147.550003,AAPL,2022-07-08
1588,144.869995,143.779999,145.669998,63141600,146.639999,AAPL,2022-07-11
1589,145.860001,145.050003,145.759995,77588800,148.449997,AAPL,2022-07-12
1590,145.490005,142.119995,142.990005,71185600,146.449997,AAPL,2022-07-13
...,...,...,...,...,...,...,...
16648,96.080002,95.599998,95.900002,12925700,96.320000,WMT,2025-08-27
16649,96.110001,95.699997,96.000000,19241600,96.570000,WMT,2025-08-28
16650,96.980003,95.800003,96.099998,15600300,97.029999,WMT,2025-08-29
16651,97.849998,96.510002,97.230003,15330900,97.849998,WMT,2025-09-02
16652,98.550003,97.500000,97.849998,6101686,98.644997,WMT,2025-09-03

## df_logo

In [49]:
df_logo = pd.read_csv("Stock_list.csv")
df_logo["symbol_link"] = "https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/"+ df_logo["symbol"]+".png"
# df_logo["symbol_link"] = "https://eodhd.com/img/logos/US/"+ df_logo["symbol"]+".png"

In [50]:
dfAll = dfAll.merge(df_logo, left_on='code', right_on='symbol')
dfAll.drop(['symbol'], axis = 1, inplace = True)
dfAll['index'] = dfAll.index
dfAll

,close,low,open,volume,high,code,datetime,symbol_link,index
0,146.350006,143.279999,143.289993,66253700,146.550003,AAPL,2022-07-07,https://static2.finnhub.io/file/publicdatany/f...,0
1,147.039993,145.000000,145.259995,64547800,147.550003,AAPL,2022-07-08,https://static2.finnhub.io/file/publicdatany/f...,1
2,144.869995,143.779999,145.669998,63141600,146.639999,AAPL,2022-07-11,https://static2.finnhub.io/file/publicdatany/f...,2
3,145.860001,145.050003,145.759995,77588800,148.449997,AAPL,2022-07-12,https://static2.finnhub.io/file/publicdatany/f...,3
4,145.490005,142.119995,142.990005,71185600,146.449997,AAPL,2022-07-13,https://static2.finnhub.io/file/publicdatany/f...,4
...,...,...,...,...,...,...,...,...,...
45989,96.080002,95.599998,95.900002,12925700,96.320000,WMT,2025-08-27,https://static2.finnhub.io/file/publicdatany/f...,45989
45990,96.110001,95.699997,96.000000,19241600,96.570000,WMT,2025-08-28,https://static2.finnhub.io/file/publicdatany/f...,45990
45991,96.980003,95.800003,96.099998,15600300,97.029999,WMT,2025-08-29,https://static2.finnhub.io/file/publicdatany/f...,45991
45992,97.849998,96.510002,97.230003,15330900,97.849998,WMT,2025-09-02,https://static2.finnhub.io/file/publicdatany/f...,45992
45993,98.550003,97.500000,97.849998,6101686,98.644997,WMT,2025-09-03,https://static2.finnhub.io/file/publicdatany/f...,45993

# pandas write to DB

In [51]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, MetaData, Integer, String, Date, Float, BigInteger

# postgres -> user name
# admin1234 -> password
# bootcamp_2504 -> database name

# localhost
# bootcamp_engine = create_engine("postgresql+psycopg2://postgres:admin1234@localhost:5432/bootcamp_2504")
# Docker
# bbootcamp_engine = create_engine("postgresql+psycopg2://postgres:admin1234@localhost:5532/bootcamp_2504")

engineLst = ["postgresql+psycopg2://postgres:admin1234@localhost:5432/bootcamp_2504",
             "postgresql+psycopg2://postgres:admin1234@localhost:5532/bootcamp_2504"] #5432, 5532

for engine in engineLst:
  bootcamp_engine = create_engine(engine)

  # Define table structure
  metadata = MetaData()

  ohlc_data_schema = Table(
    "ohlc_data", metadata,  #Table name
    Column("id", BigInteger, primary_key=True),
    Column("code", String(10), nullable=False),
    Column("date", Date, nullable=False),
    Column("open", Float, nullable=False),
    Column("high", Float, nullable=False),
    Column("low", Float, nullable=False),
    Column("close", Float, nullable=False),
    Column("volume", BigInteger, nullable=False),
    Column("symbolink", String, nullable=False)
  )

  metadata.create_all(bootcamp_engine)

  # table name = ohlc_data
  # auto create table
  # "replace" -> delete and insert
  # "append" -> insert
  dfAll.to_sql("ohlc_data", bootcamp_engine, index=False, if_exists="replace")
  print(f'OK: {engine}')

  # ==========================================================
  # Define logo table structure
  metadata = MetaData()

  stock_logo_schema = Table(
    "stock_logo", metadata,  #Table name
    Column("symbol", String(15), primary_key=True),
    Column("logo_link", String(100), nullable=True)
  )
  metadata.create_all(bootcamp_engine)
  df_logo.to_sql("stock_logo", bootcamp_engine, index=False, if_exists="replace")

OK: postgresql+psycopg2://postgres:admin1234@localhost:5432/bootcamp_2504
OK: postgresql+psycopg2://postgres:admin1234@localhost:5532/bootcamp_2504

In [52]:
df_logo

     symbol                                        symbol_link
0         A  https://static2.finnhub.io/file/publicdatany/f...
1        AA  https://static2.finnhub.io/file/publicdatany/f...
2      AACB  https://static2.finnhub.io/file/publicdatany/f...
3     AACBR  https://static2.finnhub.io/file/publicdatany/f...
4     AACBU  https://static2.finnhub.io/file/publicdatany/f...
...     ...                                                ...
6616   ZVSA  https://static2.finnhub.io/file/publicdatany/f...
6617    ZWS  https://static2.finnhub.io/file/publicdatany/f...
6618   ZYBT  https://static2.finnhub.io/file/publicdatany/f...
6619   ZYME  https://static2.finnhub.io/file/publicdatany/f...
6620   ZYXI  https://static2.finnhub.io/file/publicdatany/f...

[6621 rows x 2 columns]